src/soa/SessionAPI/Interface/hpc.microsoft.com.brokercontroller.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://hpc.microsoft.com/brokercontroller/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" targetNamespace="http://hpc.microsoft.com/brokercontroller/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://hpc.microsoft.com/brokercontroller/Imports">
      <xsd:import namespace="http://hpc.microsoft.com/brokercontroller/" schemaLocation="hpc.microsoft.com.brokercontroller.xsd" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBrokerController_EndOfMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:EndOfMessage" />
  </wsdl:message>
  <wsdl:message name="IBrokerController_EndOfMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:EndOfMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IBrokerController_PullResponses_InputMessage">
    <wsdl:part name="parameters" element="tns:PullResponses" />
  </wsdl:message>
  <wsdl:message name="IBrokerController_PullResponses_OutputMessage">
    <wsdl:part name="parameters" element="tns:PullResponsesResponse" />
  </wsdl:message>
  <wsdl:portType name="IBrokerController">
    <wsdl:operation name="EndOfMessage">
      <wsdl:input wsaw:Action="http://hpc.microsoft.com/brokercontroller/IBrokerController/EndOfMessage" message="tns:IBrokerController_EndOfMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://hpc.microsoft.com/brokercontroller/IBrokerController/EndOfMessageResponse" message="tns:IBrokerController_EndOfMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PullResponses">
      <wsdl:input wsaw:Action="http://hpc.microsoft.com/brokercontroller/IBrokerController/PullResponses" message="tns:IBrokerController_PullResponses_InputMessage" />
      <wsdl:output wsaw:Action="http://hpc.microsoft.com/brokercontroller/IBrokerController/PullResponsesResponse" message="tns:IBrokerController_PullResponses_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DefaultBinding_IBrokerController" type="tns:IBrokerController">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EndOfMessage">
      <soap:operation soapAction="http://hpc.microsoft.com/brokercontroller/IBrokerController/EndOfMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PullResponses">
      <soap:operation soapAction="http://hpc.microsoft.com/brokercontroller/IBrokerController/PullResponses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>