src/soa/SessionAPI/GenericService/hpc.microsoft.com.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://hpc.microsoft.com" elementFormDefault="qualified" targetNamespace="http://hpc.microsoft.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GenericOperation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="args" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenericOperationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenericOperationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>